
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ketqua</title>
</head>
<body>
    <div> 
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng</th>
                <th>Thành Tiền</th>
            </tr>
            <tr>
                <td>@ViewBag.MaHang</td>
                <td>@ViewBag.TenHang</td>
                <td>@ViewBag.ThanhTien</td>
            </tr>
        </table>
    </div>
</body>
</html>
